ul{
	margin-left: 100;
	margin-right: 100;
	padding: 0;
	list-style: none;
	height: 40px;
	line-height: 40px;
	background-color: #000;
	font-family: sans-serif;
	font-size: 20px;
}
li{
	float: left;

}

a{
	display: block;
	color: #fff;
	padding: 0 80.5;
	text-decoration: none;

}
a:hover, .active a{
	background-color: #156ee2;
}